---
layout: sirius_web
title: Sirius | Sirius WebHome
---
<section id="intro" class="">
    <div class="container">
        <div class="row align-items-end">
            {% include section_intro.html
                title="Easily create and deploy graphical studios to the web"
                desc="An open-source <b>low-code</b> platform for defining custom <b>web applications</b> that support your specific <b>visual languages</b>"

                img_src="images/sirius-web/siriusweb-diagram.png"
                img_alt="Easily create and deploy studios to the web"
            %}
        </div>
    </div>
</section>
<section id="why_sirius_web" class="bg_lightest_grey text-center">
    <div class="container">
        <div class="row">
            {% include block_cols.html
                col="4"
                icon_name="fas fa-project-diagram"
                icon_color="txt_indigo"
                title="Graphically represent<br>and edit data"
                desc="Modeling studios built with Sirius Web support the editing of your DSL using both your specific visual notation and native domain concepts"
            %}

            {% include block_cols.html
                col="4"
                icon_name="fab fa-html5"
                icon_color="txt_indigo"
                title="With a modern<br>cloud-based application"
                desc="Your studios provide a modern UX and are deployed on a web server using state-of-the-art technologies: Spring, React, PostgreSQL, GraphQL"
            %}

            {% include block_cols.html
                col="4"
                icon_name="fas fa-power-off"
                icon_color="txt_indigo"
                title="No Desktop Installation Required"
                desc="Once deployed on a server, users can launch your custom studio directly from a web browser, with no need for any specific desktop installation"
            %}
        </div>
		<div class="row">
			<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
			<iframe style="margin:10px" class="shadow" width="480" height="270" src="https://www.youtube.com/embed/CNS5LEr9QQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
			<iframe style="margin:10px" class="shadow" width="480" height="270" src="https://www.youtube.com/embed/in6KrDVmWmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

    </div>
</section>


<section id="download" class="bg_indigo text-white text-center">
    <div class="container">
        {% include block_heading.html
            title="Download from Github"
            sub_title=""
            desc="<p><b>Sirius Web</b> is a sub-project of Eclipse Sirius. It is <b>open-source</b> and hosted at the <a href='https://eclipse.org/' target='_blank'>Eclipse Foundation</a></p>
        <p>Source code is available on <a href='https://github.com/eclipse-sirius/sirius-web' target='_blank'>GitHub</a>. It contains an example application, built using the frontend and backend components.</p>"
        %}
        <p><a class="btn btn-default" href="https://github.com/eclipse-sirius/sirius-web" target="_blank">Go to Source Code</a></p>
    </div>
</section>
<section id="features">
    <div class="container text-center">
        {% include block_heading.html
            title="Your Modern Web-based Studio"
            sub_title=""
            desc="By using Sirius Web to create your custom graphical studio, you automatically gain access to<br>a set of ready-to-use features expected from a modern web-based modeling environment."
        %}
        <p class="wow fadeInDown" data-wow-duration="800ms" data-w ow-delay=".6s"><img src="/sirius/images/sirius-web/features.png" width="1000"></p>
    </div>
    <div class="container">
        {% include block_text_video.html
            txt_order="order-1"
            title="Rapid Onboarding"
            desc="<p>For end users working with a studio built using Sirius Web, starting a new modeling project is simple and intuitive.</p><p>They can either open an existing project, create one from scratch, import a file, or initialize a new project using a pre-configured template.</p><p>Once the project is created, contextual accelerators and tools guide the user in populating the model, precisely editing object properties, and exploring the entire model.</p>"

            iframe_order="order-2"
            iframe_src="https://www.youtube.com/embed/R4Zd4sN2joQ"
            iframe_width="530"
            iframe_height="298"
        %}
        {% include block_text_image.html
            txt_order="order-2"
            title="Tailored Graph Diagrams"
            desc="<p>Diagrams are the primary type of representation you can configure to enable end users to visually model and edit their data. In a diagram, model elements are depicted as nodes (shapes or images) and edges (directed or undirected).</p><p>A studio created with Sirius typically offers several types of graph diagrams, each tailored to represent specific types of objects with their own appearance (shape, color, label, internal elements, etc.), and to visualize how they relate to other elements within the same diagram.</p>"

            img_order="order-1"
            img_src="images/sirius-web/siriusweb-diagram.png"
            img_title="Tailored Graph Diagrams"
            img_href="images/sirius-web/siriusweb-diagram.png"
        %}
        {% include block_text_video.html
            txt_order="order-1"
            title=""
            desc="<p>Each diagram comes with built-in advanced features, including:</p><ul><li>Graphical element layout management (arrange, auto-layout, pin/unpin, shading, helper lines, etc.)</li><li>High-quality rendering options (zoom, full-screen mode, SVG export, etc)</li></ul><p>Additionally, graph diagrams provide tools that users can execute, either from the diagram's background or directly on any visible element. These tools can be customized specifically for the studio.</p>"

            iframe_order="order-2"
            iframe_src="https://www.youtube.com/embed/BNcqFzoyViU"
            iframe_width="530"
            iframe_height="298"
        %}
         {% include block_text_video.html
            txt_order="order-2"
            title="Form Views"
            desc="<p>The principles used by Sirius Web to display an object's properties in the Details View can also be applied to create specific form-based editors.</p><p>A form-based editor consists of specially arranged widgets that allow users to edit model elements.</p><p>These widgets can range from basic (text fields, checkboxes, radio buttons, etc.) to more advanced types (sliders, image pickers, calendars, charts, etc.).</p><p><a href='' target='_'>  <i class='' aria-hidden='true'></i></a></p>"

            iframe_order="order-1"
            iframe_src="https://www.youtube.com/embed/S_qw1hfn5r4"
            iframe_width="530"
            iframe_height="298"
        %}
        {% include block_text_video.html
            txt_order="order-1"
            title="Gantt Charts"
            desc="<p>Sirius Web supports this familiar visual representation that shows the start and finish dates of various elements.</p><p>It features a timeline at the top, with horizontal bars positioned and sized according to dates and durations. These bars can be linked to illustrate dependencies.</p><p>While commonly used for task scheduling in projects, Gantt charts can be applied to any domain involving dates.</p>"

            iframe_order="order-2"
            iframe_src="https://www.youtube.com/embed/pUg4uyF_FnA"
            iframe_width="530"
            iframe_height="298"
        %}
        {% include block_text_video.html
            txt_order="order-2"
            title="Deck Representation"
            desc="<p>The Deck representation is a visual format popularized by Kanban boards, where cards are displayed in lanes.</p><p>Each lane typically represents a specific state (e.g., Not Started, In Progress, Completed).</p><p>With Sirius Web, this representation can be used for specific domains, allowing users to manage their data with cards.</p>"

            iframe_order="order-1"
            iframe_src="https://www.youtube.com/embed/kkxqB8wIUlE"
            iframe_width="530"
            iframe_height="298"
        %}
        {% include block_text_video.html
            txt_order="order-1"
            title="Portal Representation"
            desc="A portal is a ready-to-use representation that allows end users to create a custom view composed of multiple existing representations, such as diagrams, forms, Gantt charts, and more."

            iframe_order="order-2"
            iframe_src="https://www.youtube.com/embed/0hVER_3goCw"
            iframe_width="530"
            iframe_height="298"
        %}
    </div>
</section>

<section id="extensibility" class="bg_lightest_grey">
    <div class="container text-center">
        {% include block_heading.html
            title="Flexible and Highly Extensible"
            sub_title=""
            desc="Most of the features offered by Sirius are highly customizable, enabling you to perfectly tailor the studio for your end users."
        %}
        <p class="wow fadeInDown popup-gallery" data-wow-duration="800ms" data-w ow-delay=".6s">
			<a href="/sirius/images/sirius-web/siriusweb-principles.jpg" target='_' title="Sirius Web Principles"><img src="/sirius/images/sirius-web/siriusweb-principles.svg" width="1110"></a>
		</p>
    </div>
    <div class="container">
        {% include block_text_video.html
            txt_order="order-1"
            title="Low Code Approach"
            desc="<p>Studios built with Sirius Web are primarily defined through configuration, requiring a minimal programming.</p><p>The platform provides built-in features to specify the structure of your data (Domain), and how it can be graphically visualized and edited (View).</p><p>This approach significantly reduces the amount of code needed to create a modeling tool, allowing developers to focus more on defining modeling concepts, graphical representations, and value-added functionalities.</p>"
            iframe_order="order-2"
            iframe_src="https://www.youtube.com/embed/p_tDEzGtS0o"
            iframe_width="530"
            iframe_height="298"
        %}
        {% include block_text_image.html
            txt_order="order-2"
            title="Modular and Modern Architecture"
            desc="<p>The studio's features defined by configuration are complemented by source code built on a modular and modern web-based architecture.</p><p>Sirius Web's technical foundation leverages the latest web technologies, including React, Spring Boot, PostgreSQL, and GraphQL, ensuring it remains at the forefront of web development.</p>"
            img_order="order-1"
            img_src="/sirius/images/sirius-web/siriusweb-technologies.png"
            img_title="Sirius Web Technologies: React, Spring Boot, PostgreSQL, and GraphQL"
            img_href="/sirius/images/sirius-web/siriusweb-technologies.png"
        %}
        {% include block_text_video.html
            txt_order="order-1"
            title="Seamless Integration Capabilities"
            desc="<p>This architecture makes it easy to integrate external components into your studio, such as form widgets, graphical views, and business rules.</p><p>Conversely, your studio can be integrated into other applications, providing advanced editing and visualization capabilities.</p><p>In the video beside this text, you can see an integration between the Papyrus web editor (created with Sirius Web) and an LLM: in this experimental example, an AI application copilots the end user in the creation of a UML model.</p>"

            iframe_order="order-2"
            iframe_src="https://www.youtube.com/embed/tNYg9kx4O7s"
            iframe_width="530"
            iframe_height="298"
        %}
    </div>
</section>

<section id="community" class="text-center bg_indigo">
    <div class="container">
        {% include block_heading.html
            title="Community"
            sub_title=""
            desc=""
        %}

		<div class="row txt_white">
        	<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
        		<h4>Stay tuned!</h4>
       			<div class="row">

                    {% include block_cols.html
                        col="4 offset-md-2"
                        icon_name="fa fa-linkedin-square"
                        icon_color="txt_white"
                        title=""
                        desc="Connect to<br>Sirius community"
                        href="https://www.linkedin.com/in/eclipse-sirius/"
                        link_txt="LinkedIn "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                    {% include block_cols.html
                        col="4"
                        icon_name="fa fa-paper-plane"
                        icon_color="txt_white"
                        title=""
                        desc="Receive news<br>about Sirius"
                        href="https://www.obeosoft.com/en/sirius-mailing-list"
                        link_txt="Mailing List "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
       			</div>
       		</div>
        	<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
        		<h4>Engage with us!</h4>
       			<div class="row">
                    {% include block_cols.html
                        col="4 offset-md-2"
                        icon_name="far fa-comments"
                        icon_color="txt_white"
                        title=""
                        desc="Contact Sirius<br>development team"
                        href="https://github.com/eclipse-sirius/sirius-web/discussions"
                        link_txt="Forum "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                    {% include block_cols.html
                        col="4"
                        icon_name="far fa-user"
                        icon_color="txt_white"
                        title=""
                        desc="Let's discuss<br>your project"
                        href="https://www.obeosoft.com/en/company/open-innovation"
                        target="_blank"
                        link_txt="Open Innovation "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
       			</div>
       		</div>
       	</div>

    </div>
    </div>
</section>

<section id="community" class="bg_grey">
    <div class="container text-center">
        {% include block_heading.html
            title="Welcome On Board!"
            sub_title=""
            desc="<p>Sirius Web exists thanks to the fruitful collaboration, in an <a href='https://www.obeosoft.com/en/company/open-innovation' target='_blank'>open-innovation</a> model,<br>between the project team and end-user organizations that fund the development of new features.</p><p>Together, let's build your future cutting-edge modeling solution with Sirius Web.</p>"
        %}
    </div>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title=""
            desc="<p>Are you:</p><ul><li>A <b>Software Provider</b> distributing modeling products?</li><li>A <b>Large Organization</b> with your own modeling methodology?</li></ul><p>Do you need:</p><ul><li>To <b>migrate</b> a desktop modeling tool <b>to the web</b>?</li><li>To <b>develop</b> a brand-new <b>web-based</b> modeling tool?</li></ul>"
            img_order="order-2"
            img_src="/sirius/images/illustrations/sirius-web-extensibility.png"
            img_title="Open Innovation"
            img_href="https://www.obeosoft.com/contact"
        %}
        <p class="text-center"><a class="btn btn-default text-white" href="https://www.obeosoft.com/en/company/open-innovation" target="_blank">Let’s work together</a></p>
    </div>
</section>

<section id="references">
    <div class="container text-center">
        {% include block_heading.html
            title="Powered by Sirius Web!"
            sub_title=""
            desc="Discover the studios with Sirius Web inside."
        %}
    </div>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Eclipse SysON"
            desc="<p>Eclipse SysON is an open-source, web-based MBSE modeling tool designed for authoring SysML v2 models.</p><p>The SysON workbench is developed using Sirius Web.</p>"
            lnk_href="https://mbse-syson.org"
            lnk_target=""
            lnk_txt="Project page"
            lnk_icon="fas fa-arrow-alt-circle-right"
            img_order="order-2"
            img_src="/sirius/images/sirius-web/logo_syson.svg"
            img_title="Eclipse SysON"
            img_href="https://mbse-syson.org"
        %}
        {% include block_text_image.html
            txt_order="order-2"
            title="Eclipse Papyrus"
            desc="<p><a href='https://eclipse.dev/papyrus'>Eclipse Papyrus</a> is an industrial-grade, open-source Model-Based Engineering tool.</p><p>The web editors for Papyrus are developed using Sirius Web.</p>"
			lnk_href="https://eclipse.dev/papyrus"
            lnk_target=""
            lnk_txt="Project page"
            lnk_icon="fas fa-arrow-alt-circle-right"
            img_order="order-1"
            img_src="/sirius/images/sirius-web/logo_papyrus.svg"
            img_title="Eclipse Papyrus"
            img_href="https://eclipse.dev/papyrus"
        %}
        {% include block_text_image.html
            txt_order="order-1"
            title="Obeo SmartEA"
            desc="<p><a href='https://www.obeosmartea.com/'>Obeo SmartEA</a> is a graphical and collaborative Enterprise Architecture solution that supports ArchiMate and BPMN standards.</p><p>The web editors for Obeo SmartEA are developed using Sirius Web.</p>"
            lnk_href="https://www.obeosmartea.com/"
            lnk_target=""
            lnk_txt="Product page"
            lnk_icon="fas fa-arrow-alt-circle-right"
            img_order="order-2"
            img_src="/sirius/images/sirius-web/logo_obeo_smartea.svg"
            img_title="Obeo SmartEA"
            img_href="https://www.obeosmartea.com"
        %}
    </div>
</section>

<section id="resources" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Resources"
            sub_title=""
            desc=""
        %}


		<div class="row">
			{% include block_cols.html
				col="4"
				icon_name="fa fa-youtube-play"
				icon_color="txt_indigo"
				title="Videos"
				desc=""
				href="https://www.youtube.com/playlist?list=PLDCKzuGIN_Zy1YTEJWo1nvrtHRs-Vwbc6"
				target="_blank"
                link_txt="Youtube channel "
				href_icon="fas fa-arrow-alt-circle-right"
			%}
			{% include block_cols.html
				col="4"
				icon_name="far fa-newspaper"
				icon_color="txt_indigo"
				title="Articles"
				desc=""
				href="https://blog.obeo.fr/tags/siriusweb"
				target="_blank"
				link_txt="Sirius blog posts "
				href_icon="fas fa-arrow-alt-circle-right"
			%}
			{% include block_cols.html
				col="4"
				icon_name="far fa-file-alt"
				icon_color="txt_indigo"
				title="Documentation"
				desc=""
				href="https://docs.obeostudio.com/"
                target="_blank"
				link_txt="Sirius documentation "
				href_icon="fas fa-arrow-alt-circle-right"
			%}
        </div>
    </div>
</section>





